body{
  padding:0;
  margin:0;
  background-color: #323232 !important;
}
.title{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.card{

  margin-top:5em;
}
.container-style{
  text-align:center;

}
.form-control{
  background: none !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid #ddd !important  ;
  text-transform: capitalize;

}
.form-control:focus{
  border-bottom: 1px solid #00558E !important;
}
.fa-plus-circle{
  font-size:3rem;
  transition: 0.8s ease;
}
.fa-plus-circle:hover{
  color: green;
  cursor:pointer;
}
.input-icon{
  display: flex;
  align-items: center;
  line-height: 2;
}
.fa-times{
  transition: 0.5s ease;
}
.fa-times:hover{
  color:red;
  cursor:pointer;
}
.card-footer ul li{
list-style-type: none;
font-size: 1rem;
font-weight: 300;
font-family: Poppins;
}
.toDoList{
  text-transform: capitalize;
}